.aboutNav{
    color: white;
    background-color: black;
    width: 100vw;
    height: 10vh;
    position: fixed;
    z-index: 100;
    // border: 1px solid green;
    box-shadow: 0px 5px 50px 0px rgba(255, 255, 255, 0.555);
}

.aboutSection{
    display: flex;
    flex-direction: column;
    :first-child{
        margin-top: 5vh;
    }
}

.aboutContainer{
    height: 100%;
    width: 100vw;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.aboutPhotoSimon-show, .aboutPhotoPeter-show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: white;
    }
    transition: all .6s ease-in-out;
}
.tapDivSimon{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background: rgba(255,255,255,0.2);
    background-image: url("../img/arrows/arrow-down-sign-to-navigate.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 1rem;
    transition: all .6s ease-in-out;
}

.tapDivPeter{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background: rgba(255,255,255,0.2);
    background-image: url("../img/arrows/arrow-down-sign-to-navigate.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 1rem;
    transition: all .6s ease-in-out;
}

.tapDivPeter.after, .tapDivSimon.after{
    transform: rotate(180deg);
    transition: all .6s ease-in-out;
}

.aboutTextSimon-hidden, .aboutTextPeter-hidden{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    padding-left: 2vw;
    padding-right: 2vw;
    // border: 1px solid brown;
    color: white;
    transition: all .6s ease-in-out;
    p{
        display: none;
        height: 100%;
    }
}

// .aboutTextSimon-hidden.show, .aboutTextPeter-hidden.show{
//     display: flex;
//     transition: all .6s ease-in-out;
// }

.aboutFooter{ 
    height: 10vh;
    display: flex;
    
    justify-content: center;
    div{
        align-self: center;
        color: white;
    }
}